.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page > .background-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.forgot-password-container {
  background-color: white;
  color: black;
  width: 32rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.forgot-password-container > h1 {
  font-weight: 500;
  font-size: 36px;
}

.forgot-password-container > .form > p {
  font-size: 16px;
  padding-bottom: 1rem;
}

.forgot-password-container > .selection {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.forgot-password-container > .selection > .radio-label {
  display: flex;
  flex-direction: row;
}

.forgot-password-container > .selection > .radio-label > input,
.forgot-password-container > .selection > .radio-label > label {
  padding: 0.6rem;
}

.forgot-password-container > .form > form {
  display: flex;
  flex-direction: column;
}

.forgot-password-container > .form > form > button {
  background-color: #007cf7;
  color: white;
  width: 100%;
  padding: 3px;
  font-size: 20px;
  font-weight: 360;
  padding: 0.6rem;
  border-radius: 2px;
}

.forgot-password-container > .form > form > input {
  width: 100%;
  margin: auto;
  border: #b3b3b3 solid 1px;
  border-radius: 2px;
  margin-bottom: 1rem;
  height: 2.8rem;
  padding: 0.8rem;
}

/* Hide the default radio button */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom radio button */
input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #007bff; /* Customize border color */
  background-color: white;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style the checked state */
input[type="radio"]:checked + label::before {
  background-color: #007bff; /* Customize the fill color when checked */
  border-color: #007bff; /* Ensure the border color matches */
}

input[type="radio"]:checked + label::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: white; /* Dot color */
  border-radius: 50%;
  position: relative;
  left: 4px;
  top: 4px;
  transition: all 0.3s ease;
}

.information {
  margin: 1rem auto 0 auto;
  width: 32rem;
  color: #b3b3b3;
}

.information > .text {
  transition: 250ms ease-in-out;
  padding: 0.6rem 0;
}

.information > .text > .link,
.information > .text > #learn-more {
  text-decoration: underline;
}
